<div class="list-content">
<%= link_to(brand_path(brand.id)) do %>
<!--   <p class="price">参考価格：約<%= brand.price %></p> -->
  <% brand.brandimages.each_with_index do |p, i| %>
  <div class="img">
  <%= image_tag p.image_url, :class => "image_view" %>
</div>
  <% break if i== 0 %>
  <% end %>
  <div class="listA">
  <h3><%= brand.name %></h3>
  <p><%= brand.grade %></p><p><%= brand.company.name %></p>
  </div>
  <div class="listB">
    <div class="rank">
      <div class="star-ratings-sprite">★★★★★</div>
      <span style="width:0%" class="star-ratings-sprite-rating">★★★★★</span>
    </div>
    <div class="count">( <%= brand.comments.count %> )</div>
  </div>
<% end %>
<!--  <h6><%== brand.text.truncate(60) %></h6> style="width:30%" -->
</div>
