<%= stylesheet_link_tag  'top', media: 'all', 'data-turbolinks-track': 'reload' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@sumaino_katalog" />
  <meta property="twitter:url" content="https://www.sumainokatarogu.com/" />
  <meta property="twitter:title" content="【 住まいのカタログ 】" />
  <meta property="og:description" content="リノベーションを考えているけど、どんな設備があるのか分からない、選びきれない人へ。あなたのお家にピッタリの住宅設備・内装を見つけます。" />
  <meta property="twitter:image" content="https://materialhome.s3.amazonaws.com/uploads/editor/avatar/71/index.png" />

<div class="conteiner">
    <div class="conA-1">
        <div class="conA">
        <h5>住宅に必要な設備や素材を知ろう！</h5>
        <h1>住まいのカタログ<%= image_tag 'home.png', :size =>'23x23' %></h1>
        <p>あなたにピッタリな住まいの設備・内装が探せます</p>
        <%= render partial: 'brands/about' %>
        </div>
    </div>

<!-- <div class="comment">
    <%= link_to(new_comment_path, class: '') do %>
    <%= image_tag 'comment.png', :size =>'25x25', :class=>"image_comment" %>
    <p>クチコミを募集してます！!<br ><span>>>詳しくはクリック<<</span></p>
    <% end %>
    </div> -->
    <div class="conB">
        <p>キッチン</p>
            <div class="index_content">
            <%= render partial: 'top/brand', collection: @brands %>
            </div>
        <div class="conB-1">
        <%= link_to(search_brands_path(location: "キッチン"), class: 'list-content') do %>
         キッチンをもっと見る
        <% end %>
       </div>
    </div>
    <div class="conB">
        <p>ドレッサー</p>
            <div class="index_content">
            <%= render partial: 'top/brand', collection: @rest_brands %>
            </div>
        <div class="conB-1">
        <%= link_to(search_brands_path(location: "ラバトリー"), class: 'list-content') do %>
         ドレッサーをもっと見る
        <% end %>
       </div>
    </div>
    <div class="conB">
        <p>トイレ</p>
            <div class="index_content">
            <%= render partial: 'top/brand', collection: @rava_brands %>
            </div>
        <div class="conB-1">
        <%= link_to(search_brands_path(location: "トイレ"), class: 'list-content') do %>
         トイレをもっと見る
        <% end %>
       </div>
    </div>
<%= stylesheet_link_tag  'editors', media: 'all', 'data-turbolinks-track': 'reload' %>
<!-- <div class="editor">
<%= render partial: 'editors/editor', collection: @editors %>
</div> -->
<!--     <div class="conB">
    <p>カテゴリーから探す</p>
      <div class="conB-1">
        <%= link_to(search_brands_path(location: "キッチン"), class: 'list-content') do %>
        キッチン
        <% end %>
        <%= link_to(search_brands_path(location: "バス"), class: 'list-content') do %>
        バス
        <% end %>
        <%= link_to(search_brands_path(location: "ラバトリー"), class: 'list-content') do %>
        ラバトリー
        <% end %>
        <%= link_to(search_brands_path(location: "トイレ"), class: 'list-content') do %>
        トイレ
        <% end %>
        <%= link_to(search_brands_path(location: "扉"), class: 'list-content') do %>
        トビラ
        <% end %>
        <%= link_to(search_brands_path(location: "タタミ"), class: 'list-content') do %>
        タタミ
        <% end %>
        <%= link_to(search_brands_path(location: "クロス"), class: 'list-content') do %>
        クロス
        <% end %>
        <%= link_to(search_brands_path(location: "壁(タイル)"), class: 'list-content') do %>
        壁(タイル)
        <% end %>
        <%= link_to(search_brands_path(location: "カーテン"), class: 'list-content') do %>
        カーテン
        <% end %>
        <%= link_to(search_brands_path(location: "玄関収納"), class: 'list-content') do %>
        玄関収納
        <% end %>
        <%= link_to(search_brands_path(location: "フローリング"), class: 'list-content') do %>
        フローリング
        <% end %>
        <%= link_to(search_brands_path(location: "カーペット"), class: 'list-content') do %>
        カーペット
        <% end %>
        <%= link_to(search_brands_path(location: "クッションフロア"), class: 'list-content') do %>
        クッションフロア
        <% end %>
        <%= link_to(search_brands_path(location: "玄関床"), class: 'list-content') do %>
        玄関床
        <% end %>
        <%= link_to(search_brands_path(location: "リビング収納"), class: 'list-content') do %>
        リビング収納
        <% end %>
        <%= link_to(search_brands_path(location: "照明"), class: 'list-content') do %>
        照明
        <% end %>
        <%= link_to(search_brands_path(location: "ペット向け"), class: 'list-content') do %>
        ペット向け
        <% end %>
      </div>
    </div> -->

<!--     <div class="conB">
    <p>メーカーから探す</p>
        <div class="conB-1">
        <%= render partial: 'top/company', collection: @companies %>
        </div>
        <%= link_to(companies_path,  class: 'company_index') do %>
        もっと見る(<%= @companies_count %>)
        <% end %>
    </div>

    <div class="conB">
    <p>グレードから探す</p>
      <div class="conB-1">
      <%= link_to(search_brands_path(grade: "ハイグレード"), class: 'list-content') do %>
      ハイグレード
      <% end %>
      <%= link_to(search_brands_path(grade: "スタンダード"), class: 'list-content') do %>
      スタンダード
      <% end %>
      <%= link_to(search_brands_path(grade: "ベーシック"), class: 'list-content') do %>
      ベーシック
      <% end %>
      </div>
    </div> -->
<!--     <div class="conB">
    <p>住宅設備・内装についての役立つ情報</p>
        <div class="conB-1">
        <%= link_to(search_editors_path(category: "住宅基礎知識"), class: 'list-content') do %>
        住宅基礎知識
        <% end %>
        <%= link_to(search_editors_path(category: "キッチン"), class: 'list-content') do %>
        キッチン
        <% end %>
        <%= link_to(search_editors_path(category: "バス・洗面所・トイレ"), class: 'list-content') do %>
        バス・洗面所・トイレ
        <% end %>
        <%= link_to(search_editors_path(category: "リビング・個室"), class: 'list-content') do %>
        リビング・個室
        <% end %>
        <%= link_to(search_editors_path(category: "最新トレンド"), class: 'list-content') do %>
        最新トレンド
        <% end %>
        <%= link_to(search_editors_path(category: "コーディネート"), class: 'list-content') do %>
        コーディネート
        <% end %>
        <%= link_to(search_editors_path(category: "コラム"), class: 'list-content') do %>
        コラム
        <% end %>
        <%= link_to(search_editors_path(category: "その他"), class: 'list-content') do %>
        その他
        <% end %>
        </div>
    </div> -->
 <!--    <div class="conB">
    <p>このサイトについて</p>
    <ul>
    <li><h4>メーカー、施工会社、依頼主の情報格差をなくすことが目標</h4>
        <h6>服を選ぶときはコーディネーターやショップの店員さんにお任せしないのに、確実に服選びよりも頻度の低い家をたてるときやリフォームするときは、施工会社やコーディネーターなど人任せ・運任せの方が多いと思います。<br >しかし、<span>だいたいの家づくりの失敗や後悔の原因は知識不足・情報不足です。</span><br >「こんな設備もあったなんて知らなかった。」、「もっと最初の方に知っておきたかった。」、「こっちの方が良かった。」など、そんな声を少しでも減らし、<br ><span>家づくりに関わる全ての方が納得していただけるように情報や知識を分かりやすく整理して届けます。</span><br ></h6></li>
    </ul>
    </div> -->
</div>
