<%= stylesheet_link_tag  'comments', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="index">
  <div class="list-content show">
    <h3>【<%= link_to @comment.brand.name, brand_path(@comment.brand) %>】</h3>
    <% if @comment.place_image? %>
    <%= image_tag @comment.place_image_url, :class=>"image" %>
    <% end %>
    <p><%= @comment.comment %></p>
      <div class=rankA>
    評価：
   <div class="rank">
     <div class="star-ratings-sprite">★★★★★</div>
      <span style="width:<%= @comment.score*20 %>%" class="star-ratings-sprite-rating">★★★★★</span>
    </div>
  </div>
    <h4>名前：<%= @comment.name %></h4>
  </div>
</div>
