<%= stylesheet_link_tag  'editors', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="editor">
<%= form_with(model: editor, local: true) do |f| %>
  <% if editor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(editor.errors.count, "error") %> prohibited this editor from being saved:</h2>

      <ul>
      <% editor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

   <div class="field">
   <p><%= f.label :カテゴリー %></p>
   <%= f.select :category, Editor.categories.keys, {prompt: '選択してください'}, class: 'form' %><br />
   </div>

   <div class="field">
    <%= f.label :写真 %>
   <%= f.file_field :avatar, id: "", :class => "add_whole_photos", autofocus: true  %>
   </div>

  <div class="field">
    <%= f.label :内容 %>
    <%= f.cktext_area :description, :size =>'280x600' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
