<div class="search_about">

  <%= form_with url: search_brands_path, method: :get, local: true do |f| %>

    <div class="field">
    <%= f.select :location, Brand.locations.keys, {prompt: '▶︎ カテゴリーを選ぶ'}, class: 'form' %><br />
    </div>

    <div class="field">
    <%= f.select :grade, Brand.grades.keys, {prompt: '▶︎ グレードを選ぶ'}, class: 'form' %><br />
    </div>

  <div class="field">
  <%= f.select :count, [["アクセス数が多い順", "1"], ["発売が新しい順", "2"]], {prompt: '▶︎ 表示の順番を選ぶ'}, class: 'product form' %><br />
  </div>

    <div class="field">
    <%= f.submit "設備・素材を探す", class: 'search', name: nil %>
    </div>

　　<% end %>
</div>

