
<div class="list-content">
<%= link_to(brand_path(brand.id)) do %>
  <div class="listA">
  <h3><%= brand.name %></h3>
  <div class="reviews">
      <div class="rank">
      <div class="star-ratings-sprite">★★★★★</div>
      <span style="width:<%= brand.review %>%" class="star-ratings-sprite-rating">★★★★★</span>
    </div>
    <div class="count"><h6><%= brand.review/20 %></h6>( <%= brand.comments.count %> )</div>
  </div>
  <p><%= brand.location %></p><p><%= brand.grade %></p><p><%= brand.company.name %></p>
  </div>
  <p class="price">参考価格：約￥<%= brand.price %></p>
  <% brand.brandimages.each_with_index do |p, i| %>
  <%= image_tag p.image_url, :class => "image_view" %>
  <% break if i== 0 %>
  <% end %>
<% end %>
 <h6><%== brand.text.truncate(60) %></h6>
</div>
