<%= stylesheet_link_tag  'brands', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="index">
   <%= form_with model: @brand, :url => { :controller => :brands, :action => :create }, local: true  do |f| %>

     <div class="field">
      <p><%= f.label :ブランド名 %></p>
     <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ブランド名を入力" , class: 'form' %>
     </div>

      <div class="field">
        <p><%= f.label :どこのメーカー %></p>
      <%= f.collection_select :company_id, @company.all, :id, :name %>
      </div>

     <div class="field">
      <p><%= f.label :説明 %></p>
     <%= f.cktext_area :text, autofocus: true, autocomplete: "text", placeholder: "説明を入力", class: 'form setumei' %>
     </div>

     <div class="field">
     <p><%= f.label :発売日 %></p>
     <%= f.date_select(:completion, {:discard_day => true}, start_year: 2010, end_year:(Time.now.year), :class => " form", default: Date.new(2018, 1 ))  %>
     </div>

     <div class="field">
     <p><%= f.label :カテゴリー %></p>
     <%= f.select :location, Brand.locations.keys, {prompt: '選択してください'}, class: 'form' %><br />
     </div>

     <div class="field">
     <p><%= f.label :グレード %></p>
     <%= f.select :grade, Brand.grades.keys, {prompt: '選択してください'}, class: 'form' %><br />
     </div>

     <div class="field">
     <p><%= f.label :最低価格 %></p>
     <%= f.text_field :price, autofocus: true, autocomplete: "price",  class: 'form' %>
     </div>

      <div class="field">
      <p>金額</p>
        <%= f.fields_for :prices do |i| %>
          <%= i.number_field :money, autofocus: true, autocomplete: "money", placeholder: "金額(例　190,000)" , class: 'form' %>
          <label><%= i.text_field :modeltype, autofocus: true, autocomplete: "modeltype",  placeholder: "タイプ(例　おすすめプラン）" , class: 'form' %></label>
        <% end %>
       </div>

      <div class="field">
     <p><%= f.label :標準時のカラバリ %></p>
     <%= f.text_field :color, autofocus: true, autocomplete: "color", class: 'form' %>
     </div>

      <div class="field">
     <p><%= f.label :納期 %></p>
     <%= f.text_field :delivery, autofocus: true, autocomplete: "delivery", class: 'form' %>
     </div>

      <div class="field">
     <p><%= f.label :メーカー保証 %></p>
     <%= f.text_field :warranty, autofocus: true, autocomplete: "warranty", class: 'form' %>
     </div>

      <div class="field">
     <p><%= f.label :サイズオーダー %></p>
     <%= f.text_field :sizeorder, autofocus: true, autocomplete: "sizeorder", class: 'form' %>
     </div>

      <div class="field">
     <p><%= f.label :ＷＤＨ %></p>
     <%= f.text_field :volume, autofocus: true, autocomplete: "volume", class: 'form' %>
     </div>

     <div class="field">
     <p><%= f.label :ホームページ %></p>
     <%= f.url_field :pagelink, autofocus: true, autocomplete: "pagelink",  placeholder: "url", class: 'form' %>
     </div>

     <div class="field">
     <p><%= f.label :ワイドサイズ%></p>
     <label><%= f.collection_check_boxes(:size_ids, Size.all, :id, :widthsize) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></label>
     </div>

     <div class="field">
     <p><%= f.label :高さ%></p>
     <label><%= f.collection_check_boxes(:heightsize_ids, Heightsize.all, :id, :height) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></label>
     </div>

     <div class="field">
     <p><%= f.label :奥行き%></p>
     <label><%= f.collection_check_boxes(:depthsize_ids, Depthsize.all, :id, :depth) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></label>
     </div>

     <div class="field">
     <p><%= f.label :その他のサイズ%></p>
     <label><%= f.collection_check_boxes(:othersize_ids, Othersize.all, :id, :other) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></label>
     </div>


      <div class="field">
      <p>ブランドを使用している画像(最大５枚)</p>
        <%= f.fields_for :brandimages do |i| %>
          <label><%= i.file_field :image, id: "", :class => "add_whole_photos", autofocus: true  %></label>
          <%= i.text_field :comment, autofocus: true, autocomplete: "comment",  placeholder: "写真の説明" , class: 'form' %>
        <% end %>
       </div>

      <div class="field">
      <p>ブランドの売り・一押し部分</p>
        <%= f.fields_for :details do |i| %>
          <label><%= i.file_field :photo, id: "", :class => "add_whole_photos", autofocus: true  %></label>
          <%= i.text_field :title, autofocus: true, autocomplete: "title",  placeholder: "一押しを一言で" , class: 'form' %><br >
          <%= i.text_area :text, autofocus: true, autocomplete: "text",  placeholder: "一押しを更に詳しく" , class: 'text' %>
        <% end %>
       </div>

      <div class="field">
      <p>どんな人にオススメか（簡潔に）</p>
        <%= f.fields_for :tags do |i| %>
          <label>
          <%= i.text_area :about, autofocus: true, autocomplete: "about",  placeholder: "どんな人にオススメか。" , class: 'text' %></label>
        <% end %>
       </div>

     <div class="field">
     <p><%= f.label :キーワード%></p>
     <label><%= f.collection_check_boxes(:keyword_ids, Keyword.all, :id, :word) do |b| %>
      <%=  b.check_box %><a><%= b.label { b.text } %></a>
      <% end %></label>
     </div>

        <div class="field">
        <%= f.submit "この内容で投稿する", class: 'product button', data:{confirm: '画像が多い場合、処理に時間がかかることがありますが、そのままお待ちください。'} %>
        </div>

    <% end %>
</div>
