<%= stylesheet_link_tag  'brandshow', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
<h2><%= @brand.name %></h2>
<h4><%= link_to @brand.location, search_brands_path(location: @brand.location) %>   <%= link_to @brand.company.name, company_path(@brand.company) %></h4>

  <div class="slide">
  <% @images.each_with_index do |p, i| %>
  <div id="image<%= i %>">
  <%= image_tag p.image_url, :class => "image_view" %>
  <p id="comment"><%= p.comment %></p>
  </div>
  <% end %>
  </div>

  <div class="image">
  <% @images.each do |p| %>
  <%= image_tag p.image_url, :class => "image_slide" %>
  <p class => "comment_slide" ><%= p.comment %></p>
  <% end %>
  </div>

<div class="listA">
  <div class="text"><%== @brand.text %></div>
</div>


<div class="listB">
<!--     <div class="pickup">
    <%= image_tag 'light.png', :size =>'30x30' %><p class=listC>イチオシポイント</p>
    </div> -->
    <% @details.each do |p| %>
    <h3><%= p.title %></h3>
    <% if p.photo? %><%= image_tag p.photo_url, :class => "listB_img" %><% end %>
    <% if p.text? %><p><%== p.text %></p><% end %>
    <% end %>
</div>

<div class="listD">
  <div class="pickupA">
  <p class=listE>こんな人にオススメ</p>
  </div>
<% @tags.each do |p| %>
<p><%== p.about %></p>
<% end %>
</div>

<div class="listA">
  <ul>
  <p><span>グレード</span><%= link_to @brand.grade, search_brands_path(grade: @brand.grade)  %></p>
  <p><span>参考価格</span>約<%= @brand.price %></p>
  <p><span>カラー</span><%= @brand.color %></p>
  <% if @brand.delivery? %><p><span>納期</span><%= @brand.delivery %></p><% end %>
  <% if @brand.completion? %><p><span>発売開始</span><%= @brand.completion.strftime("%Y年%m月") %></p><% end %>

  <%if @brand.width?%>
    <p><span>横幅（センチ）</span><%= @brand.width %></p>
  <% end %>

  <%if @brand.height? %>
    <p><span>高さ（センチ）</span><%= @brand.height %></p>
  <% end %>

  <%if @brand.depth? %>
    <p><span>奥行き（センチ）</span><%= @brand.depth %></p>
  <% end %>
  <% if @brand.volume? %><p><span>サイズ・バリエーション</span><%= @brand.volume %></p><% end %>
  <% if @brand.sizeorder? %><p><span>オーダー</span><%= @brand.sizeorder %></p><% end %>

  <% if @brand.warranty? %><p><span>メーカー保証</span><%= @brand.warranty %></p><% end %>

  <%if @brand.pagelink %>
  <p><span>リンク</span><%= link_to 'ウェブカタログ', @brand.pagelink %></p>
  <% end %>
  </ul>
</div>

<div class="word">キーワード：</div>
<div class="listF">
<% @keywords.each do |i| %>
<%= link_to "#{i.keyword.word}", search_brands_path(keyword_id: i.keyword_id), :class => "tags" %>
<% end %>
</div>
<%= social_share_button_tag(@brand.name, :allow_sites => %w(twitter)) %>
</div>


<div class="containerA">
  <p>感想・クチコミ投稿フォーム</p>
   <%= form_with model: @comment, :url => { :controller => :comments, :action => :create } do |f| %>

      <div class="field hidden">
      <%= f.collection_select :brand_id, @brands.all, :id, :name, { :selected => @brand.id.to_i } %>
      </div>

    <div class="field">
    <%= f.text_field :name, autocomplete: "name",  placeholder: "お名前(必須)", class: 'form formA' %>
    </div>

    <div class="field">
    <label><%= f.file_field :place_image, autocomplete: "place_image",  placeholder: "写真" , class: ' form' %>
    </label>
    </div>

    <div class="field">
    <%= f.text_area :comment, autocomplete: "comment",  placeholder: "実際に使用してみて良かったところ、いまいちだったところ、これから選ぶ方達の為のアドバイスなどを是非教えてください。(必須)" , class: ' form' %>
    </div>

    <div class="field">
      <h6>評価（５点満点）</h6>
    <%= f.select :score, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"]], :prompt => "選択してください(必須)", class: ' form formA' %>
    </div>

    <div class="field">
    <%= f.submit "口コミを投稿する", class: ' btn' %>
    </div>
    <% end %>
    <div class="containerB">
    <%= link_to ">>#{@brand.name}のクチコミをみる", comments_path, :class => "comment_link" %>
  </div>
</div>

<script>

$(".btn").on('click', function(){
  if ($('#comment_name').val() == '') {
    alert('お名前を入力してください');
    return false;
  }
  if ($('#comment_comment').val() == '') {
    alert('口コミ内容を入力してください');
    return false;
  }
  if ($('#comment_score').val() == '') {
    alert('評価を選択してください');
    return false;
  }

});


var i = 0;
  $(".image_slide").each(function(i) {
    $(this).attr('id','photo' + (i+1));
});
  $(".comment_slide").each(function(i) {
    $(this).attr('id','comment' + (i+1));
});

$(function(){
  $("#image1").hide();
  $("#image2").hide();
  $("#image3").hide();
  $("#image4").hide();
});

  $("#photo1").on('click', function(){
    $("#image1").hide();
    $("#image2").hide();
    $("#image3").hide();
    $("#image4").hide();
    $("#image0").show();
  });
  $("#photo2").on('click', function(){
    $("#image0").hide();
    $("#image2").hide();
    $("#image3").hide();
    $("#image4").hide();
    $("#image1").show();
  });
  $("#photo3").on('click', function(){
    $("#image1").hide();
    $("#image0").hide();
    $("#image3").hide();
    $("#image4").hide();
    $("#image2").show();
  });
  $("#photo4").on('click', function(){
    $("#image1").hide();
    $("#image2").hide();
    $("#image0").hide();
    $("#image4").hide();
    $("#image3").show();
  });
  $("#photo5").on('click', function(){
    $("#image1").hide();
    $("#image2").hide();
    $("#image3").hide();
    $("#image0").hide();
    $("#image4").show();
  });

</script>
