<%= stylesheet_link_tag  'inquiries', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= form_with model: @inquiry, :url => inquiries_confirm_path, local: true do |f| %>
  <div class="email">
    <h3>お問い合わせ</h3>
    <p>（ ※は必須です。 ）</p>

  <div class="field">
  <p><%= f.label :"名前" %><a>※</a></p>
  <%= f.text_field :name, class: 'form' %>
  </div>

  <div class="field">
  <p><%= f.label :"メールアドレス" %><a>※</a></p>
  <%= f.email_field :email, class: 'form' %>
  </div>

  <div class="field">
  <p><%= f.label :"お問い合わせ内容" %><a>※</a></p>
  <%= f.text_area :message, class: 'form text' %>
  </div>

  <div class="field">
  <%= f.submit '確認',class: 'button' %>
  </div>
  <% end %>
  </div>
